{% load static %}

<html>
    <header>
        <title>products</title>
    </header>
    <body>

    <h1><center> products </center></h1>
    {% for shirt  in shirts %}
    <div>
        <img src="/static/{{ shirt.img }}" width="360">
        <h3 style="font-family:SF Pro Display Medium;">Name: <b style="font-family:SF Pro Text Light;">{{ shirt.name }}</b></h3>
        <h3 style="font-family:SF Pro Display Medium;">Price: <b style="font-family:SF Pro Text Light;">{{ shirt.price }}</b></h3>
        <h3 style="font-family:SF Pro Display Medium;">Size: <b style="font-family:SF Pro Text Light;">{{ shirt.size }}</b></h3>
    </div>
<hr>
{% endfor %}
    </body>
</html>